:root {
  --clr-dark: #1e1e1e;
  --clr-light: #c5c8c6;
  --clr-lightgray: #9a9b99;
  --clr-darkgray: #3e3e3e;
  --clr-info: #6089b4;
  --clr-danger: #c7444a;
  --clr-success: #9aa83a;
  --clr-warning: #d0b344;
}

body {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

a {
  color: var(--clr-info);
  transition: color 200ms ease;
}

a:hover {
  color: var(--clr-warning);
}

.breadcrumb {
  background-color: var(--clr-dark);
  border-bottom: 1px solid var(--clr-light);
}

.breadcrumb-item,
.breadcrumb-item::before {
  color: var(--clr-light) !important;
}

span.default,
span.keyword {
  color: inherit !important;
}

span.comment {
  color: var(--clr-lightgray) !important;
  font-style: italic;
}

.danger,
.success,
.warning,
.progress,
.not-covered,
.not-coverable,
.covered-by-small-tests,
.covered-by-medium-tests,
.covered-by-large-tests {
  background-color: transparent !important;
}

.covered-by-large-tests {
  color: color-mix(in srgb, var(--clr-success), var(--clr-danger) 25%);
}

.covered-by-medium-tests {
  color: color-mix(in srgb, var(--clr-success), var(--clr-danger) 15%);
}

.danger,
.not-coverable {
  color: var(--clr-danger);
}

.success,
.covered-by-small-tests {
  color: var(--clr-success);
}

.warning,
.not-covered {
  color: var(--clr-warning);
}

.bg-danger {
  background-color: var(--clr-danger) !important;
}

.bg-success {
  background-color: var(--clr-success) !important;
}

.bg-warning {
  background-color: var(--clr-warning) !important;
}

table {
  color: var(--clr-light) !important;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid var(--clr-darkgray);
}

.progress {
  border: 1px solid;
}

.popover {
  --tooltip-bg-color: var(--clr-dark);
  border: 1px solid var(--clr-light);
  position: fixed !important;
  left: auto !important;
  right: 0 !important;
  top: 0 !important;
  margin: 0 !important;
  transform: none !important;
  max-width: 300px;
  height: 100vh;
  overflow-y: scroll;
}

.popover ul {
  margin: 0.5rem;
  padding: 0 1rem;
}

.popover-header {
  padding: 0.5rem 1rem;
}

.popover,
.popover-header {
  background-color: var(--tooltip-bg-color);
}

.arrow::after {
  border-top-color: var(--tooltip-bg-color) !important;
  border-bottom-color: var(--tooltip-bg-color) !important;
}

.nvd3-svg [style*="fill:"] {
  fill: var(--clr-info) !important;
}

.nvd3-svg [style*="stroke:"] {
  stroke: var(--clr-info) !important;
}
