root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.php]
indent_size = 4

[.php_cs.dist]
indent_size = 4

[Makefile]
indent_style = tab

[tests/Fixture/Output/*.ts]
indent_size = 3

[tests/Fixture/Output/*-*.ts]
indent_size = 2

[tests/Fixture/Output/*_*.d.ts]
indent_style = tab
indent_size = 2
